@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700:latin");

html {
  font-size: 62.5%;
}

body {
  font-size:   14px;
  font-size:   1.4rem;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', 'Comic Sans MS', 'Wingdings', cursive;
}

.meta {
  font-size: 0.5rem;
}
